Microblink.xcframework/ios-arm64_i386_x86_64-simulator/Microblink.framework/Microblink filter=lfs diff=lfs merge=lfs -text
Microblink.xcframework/ios-arm64_x86_64-maccatalyst/Microblink.framework/Versions/Current/Microblink filter=lfs diff=lfs merge=lfs -text
Microblink.xcframework/ios-arm64_x86_64-maccatalyst/Microblink.framework/Versions/5.11.0/Microblink filter=lfs diff=lfs merge=lfs -text
Microblink.xcframework/ios-arm64_armv7/Microblink.framework/Microblink filter=lfs diff=lfs merge=lfs -text
Microblink.xcframework/ios-arm64_x86_64-maccatalyst/Microblink.framework/Microblink filter=lfs diff=lfs merge=lfs -text
